<style>
@charset "UTF-8";

a {
	text-decoration-line: none;
	color: black;
}
a:link, a:visited {
	text-decoration-line: none;
	color: black;
}
a:hover, a:active {
	text-decoration: none;
	color: black;
	background-color: #bcbcbc;
}

input[type=text] {
	color: blue;	
	font-weight: bold;
	text-align: center; 
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
}

#titleBox {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1100px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	background-color: #808080;
	table-layout: fixed;
	word-break: break-all;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

#navigationBox{
	position: fixed;
	top: 150px;
	left: 0px;
	width: 250px;
	padding-top: 20px;
	font-size: 12px;
}

#contentBox {
	position: absolute;
	top: 150px;
	left: 250px;
	width: 1050px;
	border: 0px solid #bcbcbc;
}

#contentBox pre {
	width: 807px;
	padding-left: 10px; 
	line-height: 1.5; 
	white-space: pre;
}
.selectable {
	width:807px; 
	margin:0; 
	padding:10px; 
	border:1px solid #bcbcbc;
	-webkit-user-select: text !important;
	-khtml-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	-o-user-select: text !important;
	user-select: text !important;
}

#codeBox {
	clear: left;
	width: auto;
	display: block;
	padding-left: 20px;
	border: 0px solid #ffbcbc;
}
.codeClass {
	line-height: 150%;
	tab-size: 45px;
	display: inline;
}
.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#floatingBox {
	position: fixed;
	top: 200px;
	left: 900px;
	margin: 0px auto;
	padding: 10px 10px 10px 10px;
	border: 0px solid #bcbcbc;
	background-color: white;
}

#outputBox {
	float: top;
	background: black;
	padding: 10px;
	color: white;
	border: 0px solid #bcbcbc;
}
.outputBox_invisible {
	height: 0px;
	padding: 0px;
	margin: 0px;
}
.outputBox_visible {
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;
}

#intermediateResult {
	float: bottom;
	padding: 0px;
	min-height: 10px;
	border: 0px solid #bcbcbc;
}

#imageBox {
	float: right;
	padding: 0px;
	min-height: 10px;
	border: 0px solid #bcbcbc;
}

#card {
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	line-height: 1.5;
	display: inline-block ;
}

#cardSlots,
#cardPile {
	display: inline-block;
	background: #ffffff;
	width: 500px;
	height: auto;
}
	

#cardSlots{
	padding: 30px 0px 0px 0px;
}

#cardPile {
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	border: 1px solid #333;
}

#cardSlots div,
#cardPile div {
	float: left;
	width: 480px;
	height: 20px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
}

#cardSlots div.hovered {
	background: #aaa;
}

#cardSlots div {
	border-style: dashed;
}

#cardPile div {
	margin: 2px 2px 2px 2px;
	background: skyblue;
	color: black;
	font-size: 15px;
}

#cardPile div.ui-draggable-dragging {
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
</style>

